bak
GORG-input/fasta/
GORG-input/found_rRNA
GORG-input/SSU_only
growthpred.log
growthpred-output
None.ribs
00-SAR86-SAGs/
GA03-input/200214_GA03_DADA2_KN204-stn3_ASVs.all-16S-seqs.with-tax.proportions.tsv
